<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include profile_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="index.ejs">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
    <form method="post" action="/user/<%=user_id%>/edu" class="form-horizontal">
        <div id="user_profile">
            <p class="bg-success"><%=message%></p>
            <p class="bg-danger"><%=err%></p>
            <center>
                <h4>Add new education</h4>
                <div class="row" id="education">
                        <div class="form-group required">
                            <div class="col-lg-2 control-label">
                                <label for="position">Institution: </label>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="inputSchool" placeholder="Input a school" required="required">
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-lg-2 control-label">
                                <label for="position">Degree: </label>
                            </div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="inputDegree" placeholder="Input degree" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                        <div class="col-lg-2 control-label">
                                <label for="position">From Date: </label>
                            </div>
                            <div class="col-lg-3 col-xs-2">
                                <input type="date" class="form-control" name="inputFrom" placeholder="From" required="required">
                            </div>
                            <div class="col-lg-2 control-label">
                                <label for="position">To Date: </label>
                            </div>
                            <div class="col-lg-3 col-xs-2">
                                <input type="date" class="form-control" name="inputTo" placeholder="To" required="required">
                            </div>
                        </div>
                    </div>
            </center>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-success btn-lg">Add</button>
        </div>
    </form>
</div> <!--container!-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>