<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include profile_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="../../../Downloads/282MiniLinkdin_updated/MiniLinkedinMongo%205.02.34%20PM/views/index.ejs">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
        <div id="user_profile">
            <center>
                <div class="text-center">
                        <img style="height:140px; width:140px;" src=<%=User.imageUrl%> alt="profile_pic" class="img-circle">
                        <h2><%=User.firstName + " " + User.lastName%></h2>
                        <h4><em><%=User.headline%></em></h4>

                <div class="form-group required">
                    <div class="col-lg-2 control-label">
                        <label for="headline">Skills: </label>
                    </div>
                    <form class="form-horizontal" method="post" action="/user/<%=User.userId%>/addSkill">
                    <div class="col-lg-10">
                        <span>
                            <input type="text" class="form-control" name=skill1 placeholder="input skill">
                            <input type="text" class="form-control" name=skill2 placeholder="input skill">
                            <input type="text" class="form-control" name=skill3 placeholder="input skill">
                        </span>
                    </div>
                        <button type="submit" class="btn btn-success btn-lg">Add skills</button>
                    </form>
                </div>
</div> <!--container!-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>