<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include index_navbar %>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">The team</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
        </div>
        <p class="bg-success"><%=message%></p>
        <p class="bg-danger"><%=err%></p>
        <div class="jumbotron">
            <h2>A simplified version of Linkedin</h2>
            <p class="lead">This website is a result of lab 3 CMPE 282 SJSU</p>
            <span>
            <form>
            <!--<form method="get" action="/signup">-->
                <!--<button type="submit">Sign up today</button>-->
            <!--</form>-->
            <a href="signupUser" class="btn btn-primary">Sign up as user</a>
            </form>
            <form>
                <a href="signupComp" class="btn btn-primary">Sign up as company</a>
            </form>
            </span>
            <h4> OR Search for job </h4>
            <form>
            <input type="text" class="form-control" id="search_parameter" placeholder="Job title or Company"><a class="btn btn-primary">Search</a>
            </form>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">

                <h4>Secured profile for users and companies</h4>
                <p>Authentication, restricted endpoint</p>

                <h4>Efficient job search</h4>
                <p>Search many jobs posted by companies</p>

                <h4>Featured recommend career path (upcoming)</h4>
                <p>Recommend career path base on your expierence</p>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>

    </div> <!-- /container -->
        <!-- Bootstrap core JavaScript
     ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
        <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>