<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include index_navbar %>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">The team</a></li>
                </ul>
            </nav>
             <h3 class="text-muted">Our Team</h3>
        </div>
        <p class="bg-success"><%=message%></p>
        <p class="bg-danger"><%=err%></p>
        <div class="jumbotron">
            <h2>Our Team</h2>
            <p class="lead">We grad. students of CMPE 282 @ SJSU</p>
            
            
            </div>

        <div class="row marketing">
            <div class="col-lg-6">

                <h4>Karan Khanna</h4>
                <p>Enjoys Backend & Cloud ! :) </p>

                <h4>Komal Dedhiya</h4>
                <p>Loves to work on db and recommendations </p>

                <h4>Sophia Ngo</h4>
                <p>UI champ and tools expert</p>
                
                <h4>Spurthy Sambidi</h4>
                <p>Data Mapping and Platform expert</p>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>

    </div> <!-- /container -->
        <!-- Bootstrap core JavaScript
     ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
        <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>